<div class="navbar shadow-lg bg-base-300 rounded-box">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <!--HAMBURGERMENU SVG-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <!--NAVBAR FOR MOBILE-->
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li tabindex="0">
          <a class="justify-between" href="ligen-management"> Ligen </a>
        </li>
        <li><a routerLink="bets-and-pieces">Bets Management</a></li>
        <li><a *ngIf="currentUser" routerLink="groupChat" class="btn">Grouppen Chat</a></li>
      </ul>
    </div>
    <!--LOGO-BUTTON FUNCTIONS AS GO-HOME-BUTTON-->
    <a class="btn btn-ghost normal-case text-xl" href="/"
      ><img
        class="h-8"
        src="../../../../assets/images/TippHubLogo_dark.png"
        alt="TippHubLogo_dark"
    /></a>
  </div>
  <!--NAVBAR FOR DESKTOP-->
  <div class="navbar-center hidden lg:flex" *ngIf="showButtons">
    <ul class="menu menu-horizontal p-0">
      <li>
        <a routerLink="ligen-management"> Ligen </a>
      </li>
      <li><a routerLink="bets-and-pieces">Tipprunden</a></li>
    </ul>
  </div>

  <label for="systemdate-modal" class="btn btn-ghost" *ngIf="showButtons">{{
    systemDate
  }}</label>
  <!--LOGIN BUTTON-->
  <div class="navbar-end">
    <div *ngIf="currentUser" class="flex justify-center">
      <a
              href="mini-game" class="btn btn-outline btn-primary mr-4"
      >
        <span class="text-[#d6d6d6] mr-2 ml-2">{{currentUser.accountBalance}}</span>
      <img src="assets/images/tippcoin.png" class="w-8 h-8">
      </a>
      <label
        title="Benachrichtigungen"
        for="notification-modal"
        class="btn btn-circle btn-outline btn-primary mr-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
          />
        </svg>
      </label>
      <label
        for="friendslist-drawer"
        class="avatar btn gap-5 justify-center text-primary"
      >
        {{ currentUser.firstName }} {{ currentUser.lastName }}
        <div *ngIf="currentUser.imageURL" class="w-12 rounded-full">
          <img [src]="currentUser.imageURL" />
        </div>
        <div *ngIf="!currentUser.imageURL" class="w-12 rounded-full">
          <img src="./assets/images/Tipper_Andrii.jpeg" />
        </div>
      </label>
    </div>

    <div *ngIf="!currentUser" class="btn-group">
      <label for="registration-modal" class="btn btn">Registrieren</label>
      <label for="login-modal" class="btn btn-primary">Einloggen</label>
    </div>
  </div>
</div>


