<div class="flex menu bg-base-100 w-56">
    <ul class="menu bg-base-100 w-56">
        <li><a class="hover:active">Game Table</a></li>
        <li><a class="hover:active">Tipp erstellen</a></li>
        <li><a class="hover:active">Tipps overview</a></li>
        <li><a class="hover:active">Freunde einladen</a></li>
        <li><a class="hover:active">Teilnehmer</a></li>
    </ul>
    <div class="flex-initial w-56 justify-end">
        <input type="search" placeholder="Tipprunde suchen" class="input input-bordered input-primary w-full max-w-xs" 
        [(ngModel)]="searchText"/>
    </div>
    <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li (onclick)="navigateToBetroundDetails($event, betround.id)" *ngFor="let betround of betrounds | betroundFilterPipe: searchText">{{betround.name}}</li>
    </ul>
    <p *ngFor="let betround of betrounds"> Item is: {{betround}}</p>
</div>

