
<input type="checkbox" id="profile-modal" class="modal-toggle" />
<div class="modal">
    <div class="modal-box w-96 bg-base-100 shadow-xl">
        <label for="profile-modal" class="btn btn-sm btn-circle absolute right-2 top-2 text-primary">✕</label>
        <div class="flex avatar justify-center">
            <div *ngIf="getFriendIcon()" class="w-36 rounded-full">
                <img [src]="getFriendIcon()"/>
            </div>
            <div *ngIf="!getFriendIcon()" class="w-36 rounded-full">
                <img src="./assets/images/Tipper_Andrii.jpeg"/>
            </div>
        </div>
        <div class="card-body p-2">
            <h2 class="card-title justify-center text-primary"> {{getFriendFirstname()}} {{getFriendLastname()}}</h2>
            <h1 class="card-title justify-center">{{getFriendEmail()}}</h1>
            <div class="card bg-[#303030] w-full h-20 mt-2">
                <div class="card-body p-2 ">
                    <p>possible bio</p>
                </div>
            </div>
            <div class="card-actions justify-center">
                <button class="btn btn-primary btn-outline mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                    </svg>
                    Hinzufügen</button>
                <!--
                <button class="btn btn-primary btn-outline mt-2" [attr.href]="modalUrl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                    </svg>
                    Chat mit {{ clickedFriend?.firstName }}</button>
                -->
                <li><a *ngIf="currentUser" href="#chat-modal"
                    class="btn">Chat mit {{ clickedFriend?.firstName }}</a></li>
            </div>
            
        </div>
    </div>
</div>

<app-chat-modal [currUserId]="currentUser?.id" [friendOfCurrUserId]="clickedFriendId"></app-chat-modal>
