
<input type="checkbox" id="profile-modal" class="modal-toggle" />
<div class="modal">
    <div class="modal-box w-96 bg-base-100 shadow-xl">
        <label for="profile-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <div class="flex avatar justify-center">
            <div class="w-36 rounded-full mt-3">
                <img src="./assets/images/Tipper_Andrii.jpeg"/>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title justify-center"></h2>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Freundschaftsanfrage senden</button>
            </div>
        </div>
    </div>
</div>
