<!--<div class="container-fluid">
  <div class="card" *ngIf="showAdminData">
    <div class="card-body">
      <h4 class="card-title mb-4">Liga Statistiken</h4>
      <apx-chart
        class="apex-charts"
        dir="ltr"
        [series]="basicColumChart.series"
        [chart]="basicColumChart.chart"
        [plotOptions]="basicColumChart.plotOptions"
        [yaxis]="basicColumChart.yaxis"
        [grid]="basicColumChart.grid"
        [tooltip]="basicColumChart.tooltip"
        [stroke]="basicColumChart.stroke"
        [dataLabels]="basicColumChart.dataLabels"
        [xaxis]="basicColumChart.xaxis"
        [colors]="basicColumChart.colors"
        [fill]="basicColumChart.fill"
      >
      </apx-chart>
    </div>
   
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
             <div class="card-body">
                <h4 class="card-title mb-4">Liga Statistiken</h4>
                <apx-chart
                  class="apex-charts"
                  dir="ltr"
                  [series]="columnlabelChart.series"
                  [chart]="columnlabelChart.chart"
                  [plotOptions]="columnlabelChart.plotOptions"
                  [yaxis]="columnlabelChart.yaxis"
                  [title]="columnlabelChart.title"
                  [stroke]="columnlabelChart.stroke"
                  [dataLabels]="columnlabelChart.dataLabels"
                  [xaxis]="columnlabelChart.xaxis"
                  [legend]="columnlabelChart.legend"
                  [colors]="columnlabelChart.colors"
                  [fill]="columnlabelChart.fill"
                >
                </apx-chart>
              </div>
            </div>
     
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Getippte Ergebnisse</h4>
          <apx-chart
            class="apex-charts"
            dir="ltr"
            [series]="barChart.series"
            [chart]="barChart.chart"
            [tooltip]="barChart.tooltip"
            [plotOptions]="barChart.plotOptions"
            [dataLabels]="barChart.dataLabels"
            [xaxis]="barChart.xaxis"
            [colors]="barChart.colors"
            [grid]="barChart.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Punkte pro Mannschaft</h4>
          <apx-chart
            class="apex-charts"
            dir="ltr"
            [series]="simplePieChart.series"
            [chart]="simplePieChart.chart"
            [labels]="simplePieChart.labels"
            [legend]="simplePieChart.legend"
            [colors]="simplePieChart.colors"
            [responsive]="simplePieChart.responsive"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
   -->
