<input type="checkbox" id="notification-modal" class="modal-toggle" />
<div class="modal">
    <div class="modal-box relative">
        <label for="notification-modal" class="btn btn-sm btn-circle btn-primary absolute right-4 top-4">✕</label>
        <h2 class="flex justify-center">Benachrichtigungen</h2>
        <ul class="menu p-4 h-96 w-full bg-base-100 text-base-content">
            <div class="card card-bordered border-primary bg-[#303030] w-full h-full ">
                <div class="card-body p-2 ">

                    <li class="p-2">
                        <div><a title="Profil ansehen" class="link-primary">Andrii Svenson</a> will mit dir tippen ;)
                            <div class="ml-auto btn-group">
                                <span title="Anfrage annehmen">
                                    <button class="btn btn-ghost btn-circle btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="lightgreen" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>
                                </button>
                                </span>
                                <span title="Anfrage ablehnen">
                                    <button class="btn btn-ghost btn-circle btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                                </span>

                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>