<div
  class="container grid h-screen place-items-center"
  *ngFor="let league of leaguesWithGames | keyvalue"
>
  <div class="flex" *ngIf="league.key.id === leaugeId || leagueTable">
    <button class="btn gap-8 btn-lg h-20">
      {{ league.key.name }}
      <div class="avatar">
        <div class="w-12 mask mask-squircle">
          <img [src]="league.key.logoURL" />
        </div>
      </div>
    </button>
    <div class="px-8">
      <!-- The button to open modal -->
      <label
        for="topBetter"
        class="btn text-l h-20"
        (click)="showTops(league.key)"
        >Top 3 Tipper</label
      >

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="topBetter" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box relative">
          <label
            for="topBetter"
            class="btn btn-sm btn-circle absolute right-2 top-2"
            >✕</label
          >
          <ol class="list-decimal">
            <li>{{ leagueWithTops.topBetters[0] }}</li>
            <li>{{ leagueWithTops.topBetters[1] }}</li>
            <li>{{ leagueWithTops.topBetters[2] }}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="px-8">
      <!-- The button to open modal -->
      <label
        for="topTeams"
        class="btn text-l h-20"
        (click)="showTops(league.key)"
        >Top 3 der profitabelsten Mannschaften</label
      >

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="topTeams" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box relative">
          <label
            for="topTeams"
            class="btn btn-sm btn-circle absolute right-2 top-2"
            >✕</label
          >
          <ol class="list-decimal">
            <li>{{ leagueWithTops.topTeams[0] }}</li>
            <li>{{ leagueWithTops.topTeams[1] }}</li>
            <li>{{ leagueWithTops.topTeams[2] }}</li>
          </ol>
        </div>
      </div>
    </div>
    <label
            for="teamsTable"
            class="btn text-l h-20"
            (click)="showTeamTable(league.key)"
    >Tabelle der Liga</label
    >
  </div>
  <table class="table table-zebra w-10/12" *ngIf="league.key.id === leaugeId || leagueTable">
    <thead class="flex text-white w-full">
      <tr class="flex w-full mb-4">
        <th class="p-4 w-1/4">Round</th>
        <th class="p-4 w-1/4">Heimmannschaft</th>
        <th class="p-4 w-1/4">#</th>
        <th class="p-4 w-1/4">#</th>
        <th class="p-4 w-1/4">Auswärtsmannschaft</th>
        <th class="p-4 w-1/4">Datum</th>
        <th class="p-4 w-1/4" *ngIf="showButtons">Tippen</th>
        <th class="p-4 w-1/4" *ngIf="showButtons && currentUser.hasBetPermission">Wetten</th>
        <th class="p-4 w-1/4" *ngIf="showButtons">Tipphilfe</th>
      </tr>
    </thead>
    <tbody
      class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full"
      style="height: 60vh"
    >
      <tr class="flex w-full mb-4" *ngFor="let game of league.value">
        <td class="p-4 w-1/4">{{ game.round }}</td>
        <td class="p-4 w-1/4">{{ game.homeTeam }}</td>
        <td class="p-4 w-1/4">{{ game.scoreHomeTeam }}</td>
        <td class="p-4 w-1/4">{{ game.scoreAwayTeam }}</td>
        <td class="p-4 w-1/4">{{ game.awayTeam }}</td>
        <td class="p-4 w-1/4">{{ game.date }}</td>
        <td class="p-4 w-1/4" *ngIf="showButtons">
          <!-- The button to open modal -->
          <label
            for="betModal"
            class="btn btn-success"
            *ngIf="game.scoreAwayTeam === undefined"
            (click)="showPopUp(game)"
            >Tippen!</label>
        </td>
        <td class="p-4 w-1/4" *ngIf="showButtons && currentUser.hasBetPermission">
          <!-- The button to open modal -->
          <label
                  for="betWithMoneyModal"
                  class="btn btn-error"
                  *ngIf="game.scoreAwayTeam === undefined"
                  (click)="showPopUp(game)"
          >Wetten!</label>
        </td>
        <td class="p-4 w-1/4" *ngIf="showButtons">
          <!-- The button to open modal -->
          <label
            for="betHelpModal"
            class="btn btn-warning"
            *ngIf="game.scoreAwayTeam === undefined"
            (click)="getBetHelp(game.id)"
            >Tipphilfe erhalten!</label
          >

          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="betHelpModal" class="modal-toggle" />
          <div class="modal">
            <div class="modal-box relative">
              <label
                for="betHelpModal"
                class="btn btn-sm btn-circle absolute right-2 top-2"
                >✕</label
              >
              <h3 class="text-lg font-bold">Geschätztes Ergebnis:</h3>
              <p class="py-4">
                {{ gameBetHelp.scoreHomeTeam }} -
                {{ gameBetHelp.scoreAwayTeam }}
              </p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="betModal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <label for="betModal" class="btn btn-sm btn-circle absolute right-2 top-2"
        >✕</label
      >
      <h3 class="text-lg font-bold">Gib dein geschätztes Ergebnis ein!</h3>
      <label class="inline-block mb-2">{{ bet.homeTeam }}</label>
      <input
        type="number"
        [(ngModel)]="bet.homeTeamScore"
        id="homeTeamScore"
        class="input input-bordered w-full"
        required
        min="0"
      />
      <label class="inline-block mb-2">{{ bet.awayTeam }}</label>
      <input
        type="number"
        [(ngModel)]="bet.awayTeamScore"
        id="awayTeamScore"
        class="input input-bordered w-full"
        required
        min="0"
      />
      <button class="btn btn-success w-full mt-2" (click)="betInRound(false)">
        Tippen!
      </button>
      <button *ngIf="this.showOvertakeButton" class="btn btn-primary w-full mt-2" (click)="overtakeBet(this.tippsResult)">
        Wette aus einer anderen Tipprunde übernehmen!
        ({{ this.tippsResult }})
      </button>
    </div>
  </div>

  <input type="checkbox" id="betWithMoneyModal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <label for="betWithMoneyModal" class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
      >
      <h3 class="text-lg font-bold">Gib den Geldbetrag ein und platziere deine Wette!</h3>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text">{{ bet.homeTeam }}</span>
          <input type="checkbox"
                 [(ngModel)]="bet.homeTeamWinner"
                 [disabled] = "disabledHomeTeam"
                 (change)="checkSelected()"
                 class="checkbox checkbox-error" />
        </label>
      </div>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text">{{ bet.awayTeam }}</span>
          <input type="checkbox"
                 [(ngModel)]="bet.awayTeamWinner"
                 [disabled] = "disabledAwayTeam"
                 (change)="checkSelected()"
                 class="checkbox checkbox-error" />
        </label>
      </div>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text">Unentschieden</span>
          <input type="checkbox"
                 [(ngModel)]="bet.draw"
                 [disabled] = "disabledDraw"
                 (change)="checkSelected()"
                 class="checkbox checkbox-error" />
        </label>
      </div>
      <label class="inline-block mb-2">Betrag</label>
      <input
              type="number"
              [(ngModel)]="bet.amountOfMoney"
              id="amountOfMoney"
              class="input input-bordered w-full"
              required
              min="0"
      />
      <button class="btn btn-error w-full mt-2" (click)="betInRound(true)">
        Wetten!
      </button>
    </div>
  </div>

  <input type="checkbox" id="teamsTable" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <label for="teamsTable" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <div class="w-11/12 h-full">
        <div class="overflow-x-auto">
          <div class="card p-4 w-full">
            <h1 class="card-title m-auto">Tabelle der Liga</h1>
          </div>
          <div class="flex justify-center card card-bordered border-primary bg-[#303030] w-auto h-auto ">
            <div class="card-body p-2">
              <table class="table table-zebra w-full">
                <!-- head -->
                <thead>
                <tr>
                  <th class="p-4 w-1/4">Mannschaft</th>
                  <th class="p-4 w-1/3">Siege</th>
                  <th class="p-4 w-1/3">Niederlagen</th>
                  <th class="p-4 w-1/3">Unentschieden</th>
                  <th class="p-4 w-1/3">Tordifferenz</th>
                  <th class="p-4 w-1/8"><span class="text-primary flex justify-end">Punkte</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let team of teams" class="">
                  <td class="p-4 w-1/4">{{team.name}}</td>
                  <td class="p-4 w-1/3"><b>{{team.wins}}</b></td>
                  <td class="p-4 w-1/3"><b>{{team.loses}}</b></td>
                  <td class="p-4 w-1/3"><b>{{team.draws}}</b></td>
                  <td class="p-4 w-1/3"><b>{{team.goalDifference}}</b></td>
                  <td class="p-4 w-1/8"><span class="text-primary flex justify-end">{{team.points}} </span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
