<betround-creation-modal></betround-creation-modal>
<div class="card bg-base-100 shadow-xl m-2">
  <div class="card-body">
    <h2 class="card-title">Tipprunden-Management</h2>
    <p>Erstelle eine neue Tiprunde oder trete einer bei.</p>
    <div class="card-actions justify-end">
      <label for="betround-creation-modal" class="btn btn-primary"
        >Tipprunde erstellen</label
      >
      <button class="btn btn-primary" (click)="betsManagementClick($event)">
        Tipprunden verwalten
      </button>
    </div>
  </div>
</div>
