<div class="w-full h-screen relative z-0">
    <app-friendslist class="absolute inset-y-0 right-0 z-20"></app-friendslist>
    <div class="w-full h-full flex justify-center">
        <div class="card w-3/4 h-5/6 bg-[#303030] shadow-xl mt-10">
            <div class="card-body rounded p-0 flex justify-center items-center">
                <div class="p-0 w-full h-auto flex justify-between">
                    <div class="card-title ml-12">Punkte:</div>
                    <div class="card-title">Tippspiel</div>
                    <div class="card-title mr-12">Zeit:</div>
                </div>
                <div class="card-bordered w-11/12 h-5/6 p-0 bordered border-primary rounded bg-[#d6d6d6]">
                    <button class="w-20 h-20 rounded-full bg-primary animate-spin" (click)="test()">b</button>
                </div>
            </div>
        </div>

    </div>
</div>