<div class="w-full h-screen relative z-0">
    <app-friendslist class="absolute inset-y-0 right-0 z-20"></app-friendslist>
    <div class="w-full h-full flex justify-center">
        <div class="card w-3/4 h-5/6 bg-[#303030] shadow-xl mt-10">
            <div class="card-body rounded p-0 flex justify-center items-center">
                <div class="p-0 w-full h-auto flex justify-between">
                    <div class="card-title ml-12">Punkte: {{points}}</div>
                    <div class="card-title">Tippspiel</div>
                    <div class="card-title mr-12">Zeit: {{secondsPassed}}</div>
                </div>
                <div class="card-bordered w-11/12 h-5/6 p-0 bordered border-primary rounded bg-[#d6d6d6]">
                    <button *ngIf="isVisible" class="w-20 h-20 rounded-full bg-primary animate-spin" (click)="onHit()">b</button>
                    <div *ngIf="!gameStarted" class="w-full h-full flex justify-center items-center">
                        <button class="btn btn-primary btn-lg" (click)="startGame()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                            </svg>
                            Play</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>