<div class="modal" id="chat-modal">
    <div class="modal-box w-full h-full">
       <a href="#" class="btn">X</a>
       <!--!Current User Icon and Messages-->
       <div class="chat chat-start py-3">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <!--!Insert Profile pic url here-->
            <img *ngIf="currentUser?.imageURL" [src]="currentUser?.imageURL"/>
            <img *ngIf="!currentUser?.imageURL" src="./assets/images/Tipper_Andrii.jpeg"/>
          </div>
          <p class="px-3">{{currentUser?.firstName}}</p>
        </div>
        <div class="chat-bubble" *ngFor="let message of currentUserMessages">{{message.message}}</div>
      </div>
      <!--!FriendUser Icon and Messages-->
      <div class="chat chat-start">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img *ngIf="clickedFriend?.imageURL" [src]="clickedFriend?.imageURL"/>
            <img *ngIf="!clickedFriend?.imageURL" src="./assets/images/Tipper_Andrii.jpeg"/>
          </div>
          <p class="px-3">{{clickedFriend?.firstName}}</p>
        </div>
        <div class="chat-header"></div>
        <div class="chat-bubble" *ngFor="let friendMessage of friendMessages">{{friendMessage.message}}</div>
      </div>
      <form (ngSubmit)="sendMessage(messageInput.value, currentUser?.id)" class="py-3">
          <input #messageInput type="text" placeholder="Gib deine Nachricht hier an"
          class="input input-bordered input-primary w-full max-w-xs right-0
          transform absolute focus:outline-none" />
      </form>
         
    </div>
</div>
