<div class="flex w-screen h-screen justify-between">
    <div class="card w-1/4 h-3/4 bg-[#373737] m-16">
        <div class="card-title text-primary justify-center m-2">
            Hello
        </div>
    </div>
    <div class="w-1/2 h-3/4 justify-center items-center m-16">
        <div class="card w-full h-1/2 bg-[#373737] mb-5">test1</div>
        <div class="card w-full h-1/2 bg-[#373737] mb-5">test2</div>
    </div>
    <div class="card w-1/4 h-3/4 bg-[#373737] m-16">
        <div class="card-title text-primary justify-center m-2">
            Goodbye
        </div>
    </div>
</div>