<!--Benutzte Materialen aus der Udemy Course Angluar https://www.udemy.com/course/complete-angular-developer-zero-to-mastery/ -->
<input type="checkbox" id="betround-creation-modal" class="modal-toggle" />
<label for="betround-creation-modal" class="modal cursor-pointer">
  <label class="modal-box relative">
    <div class="py-6 px-6 lg:px-8">
      <h3 class="mb-4 text-2xl font-medium">Tipprunde erstellen</h3>
      <form class="space-y-6" (ngSubmit)="onSubmit()">
        <!-- Close-Button -->
        <label
          for="betround-creation-modal"
          class="btn btn-sm btn-ghost btn-circle absolute right-2 top-2"
          >✕</label
        >
        <!-- Grid used to place 2 Input-fields on same row -->
        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <!-- Input for Betround-Name -->
          <div>
            <label class="label">
              <span class="label-text">Name</span>
            </label>
            <input
              type="text"
              placeholder="SEP-Tipper"
              [(ngModel)]="betround.name"
              id="betroundName"
              name="betroundName"
              class="input input-bordered w-full"
            />
          </div>
          <!-- Input for League -->
          <div>
            <label class="label">
              <span class="label-text">Liga</span>
            </label>
            <select
              [(ngModel)]="league.name"
              id="league"
              name="league"
              class="select select-bordered w-full"
            >
              <option *ngFor="let league of leagues">{{league.name}}</option>
            </select>
          </div>
        </div>
        <!-- Input for Password -->
        <div>
          <label class="label">
            <span class="label-text">Passwort</span>
          </label>
          <input
            type="password"
            placeholder="•••••••••"
            [(ngModel)]="betround.password"
            class="input input-bordered w-full"
            name="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          />
          <div class="divider">Punkteverteilung</div>
          <div class="grid gap-2 md:grid-cols-3">
            <div>
              <input
                type="number"
                placeholder="Ergebnis"
                [(ngModel)]="betround.scoreRightResult"
                id="scorePoints"
                name="scorePoints"
                class="input input-bordered w-full"
              />
            </div>
            <div>
              <input
                type="number"
                placeholder="Tordifferenz"
                [(ngModel)]="betround.scoreRightDiff"
                id="scoreDiffPoints"
                name="scoreDiffPoints"
                class="input input-bordered w-full"
              />
            </div>
            <div>
              <input
                type="number"
                placeholder="Sieger"
                [(ngModel)]="betround.scoreRightWin"
                id="winnerPoints"
                name="winnerPoints"
                class="input input-bordered w-full"
              />
            </div>
          </div>
          <!-- Submit-Button -->
          <label
            type="submit"
            (click)="onSubmit()"
            for="betround-creation-modal"
            class="w-full btn btn-primary mt-10 mb-1"
          >
            Tipprunde erstellen
          </label>
        </div>
      </form>
    </div></label
  ></label
>
